body {
	background: #f0f0f5;
	margin: 0px;
	font-family:sans-serif;
	color: #05052f;
}

.sidebar {
	float: right;
	width: 30%;
}

.header-strip a {
	text-decoration:none
}

.result-float a:link {
	text-decoration:none;
}
.result-float a:visited {
	text-decoration:none;
}
.result-float a:hover {
	text-decoration:underline;
}

A:link{
	color:#333377;
}
a:visited {
	color:#333377;
}
a:hover{
	color: #111155;
	text-decoration:underline;
}

.sidebar A:link{
	color: #efeff7;
	text-decoration: none;
}

.sidebar a:visited {
	color: #efeff7;
	text-decoration: none;
}

.sidebar a:hover {
	color: #444488;
	text-decoration:underline;
}


.progress-bar {
	background: #111155;
	border: 1px solid white;
	margin: 2px;
	height: .5em;
}
.progress-bar-box {
	color: whte;
	border: 1px solid black;
	margin: 4px;
	width: 80%;
	margin-bottom: 1em;
}

.sidebar-box {
	background: #9f9fbc;
	border: 1px solid black;
	padding: 10px;
	margin: 5px;
	font-size: .8em;
}

.your-channel {
	float:right;
	background: #bfbfd4;
	padding: 5px;
	border: 1px solid black;
	text-align: right;
}

.text-announce {
	font-size: 1.3em;
	font-weight: bold;
	margin-bottom: .2em;
}

.white-line{
	width: 90%;
	height: 0px;
	border-top: 1px dotted white;
	margin-top: .2em; 
	margin-bottom: .2em;
}

.header-strip {
	font-weight: bold;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	background: #4f5e79;
	color: white;
	padding-left: 5px;
}
.search-strip {
	background: #bfbfde;
	color: white;
	padding: 5px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin-top: 2px;
}

.main-box {
	margin: 5px;
}

.results-report {
	margin-bottom: 3em;
	margin-top: 1em;
}

.results-tab-active {
	border: 1px solid black;
	padding: .3em;  
	background: #9f9fbc;
}
.results-tab-inactive {
	border: 1px solid black; padding: .3em;
}

.results-box {
	padding: .3em;
	border: 1px solid black;
	max-width: 65%;
	margin-right: 30%; 	
}

.result {
	font-size: .8em;
	margin: .3em;
	margin-bottom: 1.3em;
	border-top: 1px dotted black;
}

.result-float {
	float:right;
}

.result-title {
	font-weight: bold;
}
